body {
  background-color: #eeeeee;
  font-family: 'calistoga', cursive;
  color: #ee4540;
  margin: 0;
  transition: ease 2s;
  font-size:1.5em;
  text-align: center;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  font-size: 1.05em;
  margin: 0;
  height: 0;
  position: relative;
  top: 80px;
  font-family: 'pacifico', cursive;
  font-weight: 800;
}
/*for desktop*/

@media (min-width: 600px) {
h1 {
  position: relative;
  top: 100px;
  margin: 0;
  height: 0;
  font-size: 2.3em;
  font-family: 'pacifico', cursive;
  font-weight: 800;
}
}

h1:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  color: #f45905;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items:center;
}
/*main content*/

p {
  width: 80%;
  font-size: 0.75em;
}

h2 {
    font-size: 1em;
  }

/*for desktop*/

@media (min-width: 600px) {
  p {
    width: 50%;
  }
  h2 {}
}

li {
  list-style: none;
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.text-over-image {
  text-align: center;
}

.photo-link {
  border-radius: 20px;
}

.photo-link:hover {
  filter:blur(1px) brightness(70%);
}

.introduction {
margin-bottom: 40px;
  margin-top: 30px;
}

.pages-name {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

/*footer including image*/

footer {
  margin: 0;
}

.submit-link {
  text-decoration: none;
}

.submit-link:hover {
  color: #fb5b5a;
  transform: scale(1.1);
}

.btn-info {
  padding: 10px;
  margin: 10px;
}

.btn-info:hover {
  text-decoration: underline;
}

/*centers button on desktop*/

@media (min-width: 600px){
.contact {
  position: relative;
  bottom: 300px;
  left: 20px;
}
}
