@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Merriweather';
}

body{
  background-color: #164441;
  color: white;
}
h1,h2, .contact {
  text-align: center;
}
p{
  width:100%;
  margin:10vh 10vw
}
a {
  text-decoration: none;
  font-size: 16pt;
}
a:link, a:visited {
  color: white;
}
a:hover {
  color: #F7B733;
}

ul {
  list-style: none;
  padding:0;
  font-size:3em;
  justify-content: space-evenly;
}


/* Styling Gallery Section */

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.galleryPhoto {
  float: left;
  margin: 10px auto;
  text-align: center;
}

.galleryPhotos {
  float: left;
  margin: 10px auto;
  text-align: center;
  padding: 5pt;
  border-radius: 10px;
}

.forms textarea {
  margin-top: 1em;
  padding-top: .6em;
  padding-left: .8em;
  width: 80%;
  height: 100px;
  border: none;
  border-radius: 5px;
  background-color: #e8e8e8;
  outline-color: #333f6b;
}
